* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	color: #fff;
	background: linear-gradient(120deg, #2483ff 0%, red 60%);
}

p {
	text-align: center;
	font-weight: bold;
}
